vti_encoding:SR|utf8-nl
vti_author:SR|VILE\\Administrator
vti_modifiedby:SR|VILE\\admpressen
vti_timelastmodified:TR|14 May 2007 06:20:22 -0000
vti_timecreated:TR|04 Mar 2005 14:10:27 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{71DDA724-CAE0-4B07-BF19-3C94E5C2CCB6}
vti_backlinkinfo:VX|BemForm.aspx Oplag.aspx SendTilKollega.aspx IndtastNavn.aspx DaekKort.aspx Help.htm PrimaerDaekning.aspx Annoncekontrol.aspx ForkertPlacering.aspx MmPriser2.aspx OrdreCheckForm.aspx Forespoergsel.aspx Copy\\ of\\ OrdreCheckFormOlder.aspx Copy\\ of\\ PrimaerKommuner.aspx Copy\\ of\\ BemForm.aspx Copy\\ of\\ Forsendelser.aspx Deadline.aspx PF.aspx
vti_nexttolasttimemodified:TW|21 Mar 2005 15:54:39 -0000
vti_cacheddtm:TX|14 May 2007 06:20:22 -0000
vti_filesize:IR|3051
vti_syncwith_localhost\\c\:\\documents and settings\\administrator.pressenshus\\my documents\\my web sites\\mysite/c\:/documents and settings/administrator.pressenshus/my documents/my web sites/mysite:TW|14 May 2007 06:20:22 -0000
