vti_encoding:SR|utf8-nl
vti_author:SR|VILE\\Administrator
vti_modifiedby:SR|PRESSENSHUS\\administrator
vti_timelastmodified:TR|10 Jan 2011 13:31:40 -0000
vti_timecreated:TR|04 Mar 2005 14:10:27 -0000
vti_lineageid:SR|{37393629-E367-4D74-BFD0-702D99C98F40}
vti_extenderversion:SR|12.0.0.6413
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|10 Jan 2011 10:18:31 -0000
vti_syncwith_localhost\\c\:\\documents and settings\\administrator.pressenshus\\my documents\\my web sites\\mysite/c\:/documents and settings/administrator.pressenshus/my documents/my web sites/mysite:TW|04 Mar 2005 20:45:37 -0000
vti_cacheddtm:TX|10 Jan 2011 13:31:40 -0000
vti_filesize:IR|3253
